h1{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p{
    color: crimson;
    font-size: 20px;
    background-color: rgb(241, 180, 180);
    border: 5px solid rgb(255, 72, 10);
    width: 500px;
    margin: 20px;
    padding: 20px;
}